body {
  font: 10px sans-serif;
  /* background: url('ESA_root_pillars.jpg') no-repeat; */
  /* background: rgb(19, 23, 56); */
  /* background: rgb(8, 11, 40); */
  /* background: rgb(18, 23, 48); */
  /* background: black; */
  background: #0e151c;
  background-size: 100%, 100%;
}
